/* Add this CSS to your listPost.css file */

.container {
    margin-top: 50px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.post-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.card-body {
    padding: 20px;
}

.btn-group {
    margin-top: 10px;
}

.btn-group .btn {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
